body{
    background-color: rgb(198, 199, 201);
}
h1{
    text-align: center;
}

li{
    line-height: 2;
}

p{
    line-height: 2;
}
 .alinhado{ /*classe */
    display: inline;
}
.block{ /*classe */
    display: block;
}

.principal{
    font: Arial;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    color: rgb(236, 9, 9) ;
}
.titulo{
    border: 1px solid black;
    font: Arial;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
    background-color: #fff ;
}
.origem{
    border: 1px solid black;
    font: Arial;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color: rgb(248, 10, 10);
    background-color: #fff ;
}
.resumo{
    border: 1px solid black;
    font: Arial;
    font-weight: bold;
    font-size: 12px;
    background-color: #fff ;
}
.rodape{
    border: 1px solid black;
    font: Arial;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    background-color: rgb(255, 187, 240) ;
    
}
a:link{
    color: #08964f;
}
a:visited{
    color: #1addcd ;
}
a:active{
    color: #f50d19 ;
}
a:hover{
    color: #6004f3 ;
    font-weight: bold;
}
.tb1{
    border-collapse: collapse;
    border: 1px solid black;
    width: 766px;
    height: 36px;
    background-color:#333333;
}